{%extends 'index.read.html'%}
{%block title%}{{title}}{%endblock title%}
{%block status%}
            <div class="collapse navbar-collapse" id="header-navbar">
                <ul class="nav navbar-nav navbar-right">
					<li>
						<form class="navbar-form">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="输入关键字..." />
								<button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
							</div>
						</form>
					</li>
                    <li><a href="/register/">创建账户</a></li>
                    <li><a href="/login/">登 录</a></li>
                </ul>
            </div>
{%endblock status%}
{%block body%}
    <div class="page-title has-bg">
        <!-- begin bg-cover -->
        <div class="bg-cover">
            <img src="../../static/assets/img/cover/cover-2.jpg" alt="" />
        </div>
        <!-- end bg-cover -->
        <!-- begin container -->
        <div class="container">
            <!-- begin breadcrumb -->
            <ul class="breadcrumb">
                <li><a href="">Forum</a></li>
                <li class="active">&nbsp;</li>
            </ul>
            <!-- end breadcrumb -->
            <h1>Twitter Bootstrap</h1>
        </div>
        <!-- end container -->
    </div>
    <!-- end page-title -->
    
    <!-- begin content -->
    <div class="content">
        <!-- begin container -->
        <div class="container">
            <!-- begin row -->
            <div class="row">
                <!-- begin col-9 -->
                <div class="col-md-9">
                    <!-- begin pagination -->
                    <div class="text-right">
                        <ul class="pagination m-t-0 m-b-15">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li class="text"><span>...</span></li>
                            <li><a href="#">322</a></li>
                            <li class="right"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                    <!-- end pagination -->
                    <!-- begin panel-forum -->
                    <div class="panel panel-forum">
                        <!-- begin forum-list -->
                        <ul class="forum-list forum-topic-list">
                            <li>
                                <!-- begin media -->
                                <div class="media">
                                    <img src="../../static/assets/img/user/user-1.jpg" alt="" />
                                </div>
                                <!-- end media -->
                                <!-- begin info-container -->
                                <div class="info-container">
                                    <div class="info">
                                        <h4 class="title"><a href="/discuss/">How to create an arrow by using css?</a></h4>
                                        <ul class="info-start-end">
                                            <li>post by <a href="/discuss/">Radomit Grigor</a></li>
                                            <li>latest reply <a href="/discuss/">Kama Adisa</a></li>
                                        </ul>
                                    </div>
                                    <div class="date-replies">
                                        <div class="time">
                                            8 hours ago
                                        </div>
                                        <div class="replies">
                                            <div class="total">8</div>
                                            <div class="text">REPLIES</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end info-container -->
                            </li>
                            <li>
                                <!-- begin media -->
                                <div class="media">
                                    <img src="../../static/assets/img/user/user-2.jpg" alt="" />
                                </div>
                                <!-- end media -->
                                <!-- begin info-container -->
                                <div class="info-container">
                                    <div class="info">
                                        <h4 class="title"><a href="detail.html">Tooltip in Bootstrap Modal <i class="fa fa-arrow-circle-up text-theme"></i></a></h4>
                                        <ul class="info-start-end">
                                            <li>post by <a href="detail.html">Timotheos Nikon</a></li>
                                            <li>latest reply <a href="detail.html">Raphael Afzal</a></li>
                                        </ul>
                                    </div>
                                    <div class="date-replies">
                                        <div class="time">
                                            1 day ago
                                        </div>
                                        <div class="replies">
                                            <div class="total">42</div>
                                            <div class="text">REPLIES</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end info-container -->
                            </li>
                            <li>
                                <!-- begin media -->
                                <div class="media">
                                    <img src="../../static/assets/img/user/user-3.jpg" alt="" />
                                </div>
                                <!-- end media -->
                                <!-- begin info-container -->
                                <div class="info-container">
                                    <div class="info">
                                        <h4 class="title"><a href="detail.html">Migrate from Bootstrap 2.x.x to Bootstrap 3.x.x</a></h4>
                                        <ul class="info-start-end">
                                            <li>post by <a href="detail.html">Kunibert Teodoro</a></li>
                                            <li>latest reply <a href="detail.html">Eskandar Eliud</a></li>
                                        </ul>
                                    </div>
                                    <div class="date-replies">
                                        <div class="time">
                                            2 days ago
                                        </div>
                                        <div class="replies">
                                            <div class="total">12</div>
                                            <div class="text">REPLIES</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end info-container -->
                            </li>
                            <li>
                                <!-- begin media -->
                                <div class="media">
                                    <img src="../../static/assets/img/user/user-4.jpg" alt="" />
                                </div>
                                <!-- end media -->
                                <!-- begin info-container -->
                                <div class="info-container">
                                    <div class="info">
                                        <h4 class="title"><a href="detail.html">Angular JS Bootstrap</a></h4>
                                        <ul class="info-start-end">
                                            <li>post by <a href="detail.html">Raymundo</a></li>
                                            <li>latest reply <a href="detail.html">Ciriaco</a></li>
                                        </ul>
                                    </div>
                                    <div class="date-replies">
                                        <div class="time">
                                            3 days ago
                                        </div>
                                        <div class="replies">
                                            <div class="total">57</div>
                                            <div class="text">REPLIES</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end info-container -->
                            </li>
                            <li>
                                <!-- begin media -->
                                <div class="media">
                                    <img src="../../static/assets/img/user/user-5.jpg" alt="" />
                                </div>
                                <!-- end media -->
                                <!-- begin info-container -->
                                <div class="info-container">
                                    <div class="info">
                                        <h4 class="title"><a href="detail.html">IE8 Bootstrap Compatibility</a></h4>
                                        <ul class="info-start-end">
                                            <li>post by <a href="detail.html">Ulf Azhar</a></li>
                                            <li>latest reply <a href="detail.html">Kenanyahu</a></li>
                                        </ul>
                                    </div>
                                    <div class="date-replies">
                                        <div class="time">
                                            4 days ago
                                        </div>
                                        <div class="replies">
                                            <div class="total">4</div>
                                            <div class="text">REPLIES</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end info-container -->
                            </li>
                            <li>
                                <!-- begin media -->
                                <div class="media">
                                    <img src="../../static/assets/img/user/user-6.jpg" alt="" />
                                </div>
                                <!-- end media -->
                                <!-- begin info-container -->
                                <div class="info-container">
                                    <div class="info">
                                        <h4 class="title"><a href="detail.html">Bootstrap Form Plugins List</a></h4>
                                        <ul class="info-start-end">
                                            <li>post by <a href="detail.html">Gwynedd</a></li>
                                            <li>latest reply <a href="detail.html">Bademus</a></li>
                                        </ul>
                                    </div>
                                    <div class="date-replies">
                                        <div class="time">
                                            2 weeks ago
                                        </div>
                                        <div class="replies">
                                            <div class="total">230</div>
                                            <div class="text">REPLIES</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end info-container -->
                            </li>
                            <li>
                                <!-- begin media -->
                                <div class="media">
                                    <img src="../../static/assets/img/user/user-7.jpg" alt="" />
                                </div>
                                <!-- end media -->
                                <!-- begin info-container -->
                                <div class="info-container">
                                    <div class="info">
                                        <h4 class="title"><a href="detail.html">Datepicker in Mobile / Tablet</a></h4>
                                        <ul class="info-start-end">
                                            <li>post by <a href="detail.html">Klemens Cahya</a></li>
                                            <li>latest reply <a href="detail.html">Sigvard Xavier</a></li>
                                        </ul>
                                    </div>
                                    <div class="date-replies">
                                        <div class="time">
                                            2 weeks ago
                                        </div>
                                        <div class="replies">
                                            <div class="total">43</div>
                                            <div class="text">REPLIES</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end info-container -->
                            </li>
                            <li>
                                <!-- begin media -->
                                <div class="media">
                                    <img src="../../static/assets/img/user/user-8.jpg" alt="" />
                                </div>
                                <!-- end media -->
                                <!-- begin info-container -->
                                <div class="info-container">
                                    <div class="info">
                                        <h4 class="title"><a href="detail.html">Bootstrap LESS Mixin</a></h4>
                                        <ul class="info-start-end">
                                            <li>post by <a href="detail.html">Boniface</a></li>
                                            <li>latest reply <a href="detail.html">David</a></li>
                                        </ul>
                                    </div>
                                    <div class="date-replies">
                                        <div class="time">
                                            1 month ago
                                        </div>
                                        <div class="replies">
                                            <div class="total">7</div>
                                            <div class="text">REPLIES</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end info-container -->
                            </li>
                            <li>
                                <!-- begin media -->
                                <div class="media">
                                    <img src="../../static/assets/img/user/user-9.jpg" alt="" />
                                </div>
                                <!-- end media -->
                                <!-- begin info-container -->
                                <div class="info-container">
                                    <div class="info">
                                        <h4 class="title"><a href="detail.html">Extended Bootstrap Carousel</a></h4>
                                        <ul class="info-start-end">
                                            <li>post by <a href="detail.html">Marceli Endymion</a></li>
                                            <li>latest reply <a href="detail.html">Gabriel</a></li>
                                        </ul>
                                    </div>
                                    <div class="date-replies">
                                        <div class="time">
                                            1 month ago
                                        </div>
                                        <div class="replies">
                                            <div class="total">125</div>
                                            <div class="text">REPLIES</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end info-container -->
                            </li>
                            <li>
                                <!-- begin media -->
                                <div class="media">
                                    <img src="../../static/assets/img/user/user-10.jpg" alt="" />
                                </div>
                                <!-- end media -->
                                <!-- begin info-container -->
                                <div class="info-container">
                                    <div class="info">
                                        <h4 class="title"><a href="detail.html">Bootstrap Gallery Plugins</a></h4>
                                        <ul class="info-start-end">
                                            <li>post by <a href="detail.html">Harinder Marinus</a></li>
                                            <li>latest reply <a href="detail.html">Manaem</a></li>
                                        </ul>
                                    </div>
                                    <div class="date-replies">
                                        <div class="time">
                                            1 month ago
                                        </div>
                                        <div class="replies">
                                            <div class="total">10</div>
                                            <div class="text">REPLIES</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end info-container -->
                            </li>
                        </ul>
                        <!-- end forum-list -->
                    </div>
                    <!-- end panel-forum -->
                    
                    <!-- begin pagination -->
                    <div class="text-right">
                        <ul class="pagination m-t-0">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li class="text"><span>...</span></li>
                            <li><a href="#">322</a></li>
                            <li class="right"><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                    <!-- end pagination -->
                </div>
                <!-- end col-9 -->
                <!-- begin col-3 -->
                <div class="col-md-3">
                    <!-- begin panel-forum -->
                    <div class="panel panel-forum">
                        <div class="panel-heading">
                            <h4 class="panel-title">Active Threads</h4>
                        </div>
                        <!-- begin threads-list -->
                        <ul class="threads-list">
                            <li>
                                <h4 class="title"><a href="detail.html">Browser Local Storage Tutorial</a></h4>
                                last reply by <a href="#">Anatoliy</a> 1 minutes ago
                            </li>
                            <li>
                                <h4 class="title"><a href="detail.html">How to create live push notification with HTML5 web socket</a></h4>
                                last reply by <a href="#">Nasim</a> 8 minutes ago
                            </li>
                            <li>
                                <h4 class="title"><a href="detail.html">Help! How to fire an ajax call while bootstrap modal is loading.</a></h4>
                                last reply by <a href="#">Ural</a> 15 minutes ago
                            </li>
                            <li>
                                <h4 class="title"><a href="detail.html">Migrate from jQuery 1.9.x to 2.x.x</a></h4>
                                last reply by <a href="#">Arnold</a> 1 hour ago
                            </li>
                            <li>
                                <h4 class="title"><a href="detail.html">Angular JS IE8 compatibility issues</a></h4>
                                last reply by <a href="#">Mayeso</a> 4 hours ago
                            </li>
                            <li>
                                <h4 class="title"><a href="detail.html">How to use FontAwesome Cheatsheet?</a></h4>
                                last reply by <a href="#">Cepheus Herman</a> 1 day ago
                            </li>
                        </ul>
                        <!-- end threads-list -->
                    </div>
                    <!-- end panel-forum -->
                </div>
                <!-- end col-3 -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </div>
    <!-- end content -->
{%endblock body%}